<% provide(:title, "About") %>
<h1>About</h1>
<p>
  掲示板機能を実装しました。
</p>
<p>
  次のユーザーでとりあえずログイン機能を試してください。
  <table class="table">
    <tr>
      <td>Email</td>
      <td>example@railstutorial.org</td>
    </tr>
    <tr>
      <td>Password</td>
      <td>foobar</td>
    </tr>
  </table>
</p>
<p>
  ログインユーザーには以下の機能があります。
  <ol>
    <li>スレッドの作成</li>
    <li>作成したスレッドの削除</li>
    <li>スレッドのフォロー</li>
    <li>スレッドへの書き込み</li>
    <li>書き込んだ書き込みを削除</li>
  </ol>
</p>
<p>
  匿名ユーザーに以下の機能があります。
  <ol>
    <li>スレッドへの書き込み</li>
    <li>削除パスを用い書き込みを削除</li>
  </ol>
</p>