<li id="anonymous_post-<%= anonymous_post.id %>">
  <div><%= anonymous_post.nickname %>
    <div class="content"><%= anonymous_post.content%></div>
    <%= link_to "delete", edit_anonymous_post_path(anonymous_post) %>
  </div>
</li>